*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/gradle.xml
/.idea/libraries
/.idea/caches
.DS_Store
/build
/captures
.externalNativeBuild

# DO NOT REMOVE
/app/external.gradle
/app/src/*_ext